= current_user.email
= link_to 'Cerrar', destroy_user_session_path, method: 'delete'
-if current_user.id == 1
	%h1 Hola Administrador aqui va la vista del listado de bullying
-else
	%h1 Hola usuario aqui va la vista de profile

